.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px; 
  width: fit-content; 
  margin: 20px auto;
}

.header-title {
  margin: 0;
  border-bottom: 2px solid rgb(25, 118, 210);
}

.job-count {
  position: absolute;
  top: 0; 
  right: 0; 
  background-color: rgb(25, 118, 210);
  color: #fff;
  border-radius: 45%;
  padding: 4px 6px;
  font-size: 12px;
}